<div class="animate__animated animate__fadeIn">
  <p-panel class="p-1" header="Numeric Pipes">
    <p>Pipes included in Angular - Usually in the CommonModule</p>
  </p-panel>

  <div class="grid">
    <div class="col-12 md:col-4">
      <p-card
        header="Net Sales"
        subheader="Current year"
        pTooltip="DecimalPipe"
        tooltipPosition="bottom"
        >{{ netSales + 481451 | number : "1.2-2" }}</p-card
      >
    </div>

    <div class="col-12 md:col-4">
      <p-card
        header="Gross Sales"
        subheader="Current year"
        pTooltip="CurrencyPipe"
        tooltipPosition="bottom"
        >{{ netSales | currency : "GBP" : "symbol-narrow" : "1.4-4" }}</p-card
      >
    </div>

    <div class="col-12 md:col-4">
      <p-card
        header="Percentage Loss"
        subheader="Last semester"
        pTooltip="PercentPipe"
        tooltipPosition="top"
        >{{ lossPercentage | percent : "1.2-2" }}</p-card
      >
    </div>
  </div>
</div>
